@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Vazir.woff2") format("woff2"),
      url("../fonts/Vazir.woff") format("woff"),
      url("../fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
  }
  
body {
    font-family: "Vazir" !important;
  }
@media(min-width:0px) and (max-width:400px){
    .media{
      height: 200px;
    }
    .map{
      width: 200px;
      height: 200px;
    }
  }
@media(min-width:400px) and (max-width:767px){
    .media{
      height: 300px;
    }
    .map{
      width: 400px;
      height: 300px;
    }
  }
@media(min-width:768px) and (max-width:991px){
    .media{
      height: 400px;
    }
    .map{
      width: 600px;
      height: 400px;
    }
  }
@media(min-width:992px) and (max-width:2000px) {
    .media{
      height: 500px;
    }
    .map{
      width: 1000px;
      height: 500px;
    }
  }
.green{
  background-color: white;
}
.green:hover{
background-color: chartreuse;
transition: 500ms;
border-radius: 30px;
}
.green{
  border-radius: 30px;
}
