.b-green{
background-color: chartreuse;
}
.green{
    background-color: white;
    border-radius: 15px;
    padding: 0;
}
.green:hover{
  background-color: chartreuse;
  transition: 500ms;
  border-radius: 15px;
  padding: 0;
}
@media(min-width:0px) and (max-width:400px){
    .media{
      height: 150px;
    }
    .img{
      height: 100px;
      width: 150px;
    }
    .map{
        width: 200px;
        height: 200px;
    }
    nav li{
      padding-right: 0px;
      text-align: center;
    }
}
@media(min-width:400px) and (max-width:767px){
    .media{
      height: 250px;
    }
    .img{
      height: 300px;
    }
    .map{
        width: 400px;
        height: 300px;
    }
    nav li{
      padding-right: 0px;
      text-align: center;
    }
}
@media(min-width:768px) and (max-width:991px){
    .media{
      height: 350px;
    }
    .img{
      height: 400px;
    }
    .map{
        width: 600px;
        height: 400px;
    }
    nav li{
      padding-right: 0px;
      text-align: center;
    }
}
@media(min-width:992px) and (max-width:2000px) {
    .media{
      height: 550px;
    }
    .img{
      height: 500px;
    }
    .map{
        width: 1000px;
        height: 500px;
    }
    nav ul {
      margin-right: 50px;
    }
    nav li{
      padding-right: 30px;
      text-align: center;
    }
}

.list{
    list-style: none;
}
nav{
    padding: 0;
    margin-right: 20px;
}
nav ul{
  padding: 0;
}
nav ul li a{
  font-size: 20px;
}
nav{
  margin: 0;
}

nav h5 img{
  height: 50px;
  margin-right: 30px;
}
.login{
margin-right:20px;
}
.ham{
  margin-right: 700px;
  }
.inf{
border-style:ridge;
border-color: chartreuse;
border-radius: 20px;
}
footer{
background-color: chartreuse;
}
ul{
  list-style: none;
}
.blue{
  color: blue;
}
.pink{
  color: rgb(158, 0, 158);
}